<div style="margin-bottom: 50px">
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>

<div class="jumbotron text-center" style="border: 10px">
  <h1><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Newsmaker</h1>
  <h3>Easily create your BB-Code!</h3>
</div>

<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputTemplate" class="col-sm-2 control-label">Template</label>
      <div class="col-sm-10">
        <select class="form-control"
                id="inputTemplate"
                ng-model="main.newsDto.selectedTemplate"
                ng-options="template.name for template in main.getTemplates()"
        >
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputHeadline1" class="col-sm-2 control-label">Überschrift 1</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputHeadline1" placeholder="Überschrift 1" ng-model="main.newsDto.headline1">
      </div>
    </div>
    <div class="form-group">
      <label for="inputHeadline2" class="col-sm-2 control-label">Überschrift 2</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputHeadline2" placeholder="Überschrift 2" ng-model="main.newsDto.headline2">
      </div>
    </div>
    <div class="form-group">
      <label for="inputImg" class="col-sm-2 control-label">Bild URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputImg" placeholder="Bild URL" ng-model="main.newsDto.img">
      </div>
    </div>
    <div class="form-group">
      <label for="inputText" class="col-sm-2 control-label">Text</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="inputText" placeholder="Text" ng-model="main.newsDto.text"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSource" class="col-sm-2 control-label">Quelle</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputSource" placeholder="Quelle" ng-model="main.newsDto.source">
      </div>
    </div>
    <div class="form-group">
      <label for="inputComment" class="col-sm-2 control-label">Kommentar</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="inputComment" placeholder="Text" ng-model="main.newsDto.comment"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="main.createCode()" ng-disabled="!main.newsDto.selectedTemplate">Create!</button>
        <button type="submit" class="btn btn-warning" ng-click="main.clear()">Clear</button>
      </div>
    </div>
  </form>
</div>


<script type="text/ng-template" id="bbCodeModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{modali.title}}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" rows="15" id="completedCode" ng-model="modali.bbCode" onfocus="this.select();"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modali.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="modali.cancel()">Cancel</button>
  </div>
</script>
