<div style="margin-bottom: 50px">
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>

<div class="jumbotron text-center" style="border: 10px">
  <h1><span class="glyphicon glyphicon-share" aria-hidden="true"></span> TemplateX</h1>
  <h3>easily create your own code!</h3>
</div>

<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputTemplate" class="col-sm-2 control-label">Template</label>
      <div class="col-sm-10">
        <select class="form-control"
                id="inputTemplate"
                ng-model="main.selectedTemplate"
                ng-options="template.name group by template.category for template in main.getTemplates()"
        >
        </select>
      </div>
    </div>

    <!-- Create form depending on active template -->
    <div class="form-group" ng-repeat="variable in main.selectedTemplate.variables">

      <!-- Text Input -->
      <div ng-if="variable.type === 'text'">
        <label for="{{variable.name}}" class="col-sm-2 control-label">{{variable.name}}</label>
        <div class="col-sm-10">
          <input type="text"
                 class="form-control"
                 id="{{variable.name}}"
                 placeholder="{{variable.name}}"
                 ng-model="variable.value"
                 autocomplete="off">
        </div>
      </div>

      <!-- Textarea -->
      <div ng-if="variable.type === 'textarea'">
        <label for="{{variable.name}}" class="col-sm-2 control-label">{{variable.name}}</label>
        <div class="col-sm-10">
          <textarea class="form-control"
                    rows="{{variable.size}}"
                    id="{{variable.name}}"
                    placeholder="{{variable.name}}"
                    ng-model="variable.value">
          </textarea>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="main.selectedTemplate.name">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="main.createCode()">Create!</button>
        <button type="submit" class="btn btn-warning" ng-click="main.clear()">Clear</button>
      </div>
    </div>
  </form>
</div>


<script type="text/ng-template" id="bbCodeModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{modali.title}}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" rows="15" id="completedCode" ng-model="modali.bbCode" onfocus="this.select();"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modali.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="modali.cancel()">Cancel</button>
  </div>
</script>
